<div *ngIf="nodeTreeRoot && nodeTreeRoot.id">
  <ng-container *ngTemplateOutlet="nodeTemp; context:{node:nodeTreeRoot}"></ng-container>
</div>

<!-- template for all nodes -->
<ng-template #nodeTemp let-node="node" let-itemClass>
  <div class="w-100" [ngClass]="itemClass" [attr.data-id]="node.id" [attr.id]="'node-' + node.id">
    <div [attr.id]="node.id + '-Over'" class="placement drop-line"></div>


    <!-- content of the node -->
    <div class="selectable d-flex flex-row align-items-center hoverable" [class.selected]="this.selectedNode === node"
         [style.min-height]="'48px'" [style.padding-left]="'5px'" (click)="onSelectNode(node, 0, $event)"
         (mouseenter)="hoveredNode = node" (mouseleave)="hoveredNode = undefined">

      <!-- along with '-Over' and '-Under', this shows where a moved item might be placed -->
      <div *ngIf="!node.children.length" [attr.id]="node.id + '-Merge'" class="placement flex-column">
        <img src="assets/down-more.png" style="width: 24px; height: 24px; margin-top: 8px;">
        <div class="d-flex flex-row">
          <div style="width: 12px; height: 8px; border-right: 2px solid"></div>
          <div style="width: 6px; height: 8px; border-bottom: 2px solid"></div>
        </div>
      </div>

      <div *ngIf="node.children.length" [style.padding-right]="'5px'">
        <img *ngIf="!node.isExpanded" class="icon-32" src="assets/up-less.png" (click)="onChangeExpanded(node)" alt="">
        <img *ngIf="node.isExpanded" class="icon-32" src="assets/down-more.png" (click)="onChangeExpanded(node)" alt="">
      </div>

      <div *ngFor="let content of node.content; let idx = index"
           class="d-flex flex-row align-items-center" [style.min-width]="'180px'" [style.padding-left]="'5px'">
        <span *ngIf="!(selectedNode?.id === node.id && editingIndex === idx)"
              [style.padding-bottom]="'4px'"
              (click)="onEditContent(node, idx)">
          {{content}}
        </span>

        <app-input *ngIf="(selectedNode?.id === node.id && editingIndex === idx)"
                   [content]="content"
                   (onClose)="onSaveContent(node, idx, $event)">
        </app-input>
      </div>

      <div *ngIf="hoveredNode === node">
        <img class="icon-24" src="assets/add.png" (click)="onEditContent(node)" alt="">
        <img class="icon-24 danger" src="assets/delete.png" (click)="onDeleteNode(node)" alt="">
      </div>
    </div>



    <!-- row: left is relationship lines and right is node + its children -->
    <div class="d-flex flex-row" *ngIf="node.isExpanded && node.children.length">
      <div [style.margin-top]="'-5px'" [style.margin-bottom]="'15px'"
           [style.padding-left]="'18px'" [style.border-right]="'2px solid'">
      </div>

      <!-- all children nodes -->
      <div cdkDropList class="w-100" [id]="node.id" [cdkDropListData]="node.children"
           (cdkDropListDropped)="drop($event, dropData)" [cdkDropListSortingDisabled]="true">

        <!-- each child node -->
        <div cdkDrag *ngFor="let child of node.children" [cdkDragDisabled]="editingIndex !== undefined"
             [cdkDragData]="child.id" (cdkDragMoved)="this.moveItemBounce.next($event)">

          <div class="d-flex flex-row">
            <div style="width: 20px; height: 27px; border-bottom: 2px solid;"></div>

            <ng-container *ngTemplateOutlet="nodeTemp; context:{node:child, $implicit:'node-item'}"></ng-container>
          </div>
        </div>

        <!-- add buttons at end of branch -->
        <div class="d-flex flex-row" [style.min-height]="'32px'">
          <div style="width: 10px; height: 17px; border-bottom: 2px solid;"></div>

          <img class="icon-24 align-self-center"
               src="assets/add.png"
               [style.margin-left]="'5px'"
               (click)="onAddNode(node)"
               alt="">
        </div>

      </div>
    </div>


    <div [attr.id]="node.id + '-Under'" class="placement drop-line"></div>
  </div>
</ng-template>
